@model IEnumerable<DAS_Desafio2_Dilma8a.Models.Materia>

@{
    ViewData["Title"] = "Materias";
}

<h2>Materias</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Materia</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Materia</th>
            <th>Docente</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.NombreMateria</td>
            <td>@item.Docente</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MateriaId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.MateriaId">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
